/* Magic Mirror Module: MMM-FAA-Delay css
 *
 * By Nigel Daniels https://github.com/nigel-daniels/
 * MIT Licensed.
 */

.airport .code {
    padding-right: 10px;
}

.airport .message {
    max-width: 400px;
}

.airport .weather {
    max-width: 400px;
}
