/* Magic Mirror Module: MMM-FAA-Delay css
 * Version: 1.0.0
 *
 * By Nigel Daniels https://github.com/nigel-daniels/
 * MIT Licensed.
 */

.airport .code {
    padding-right: 10px;
}

.airport .message {
    font-size: 16px;
    max-width: 400px;
}

.airport .weather {
    font-size: 16px;
    max-width: 400px;
}
